---
layout: default
title:  Tags
---

<div class="wrapper tags">
    {% for tag in site.tags %}
    {% assign name = tag | first | cgi_escape %}
    <h4><a href="#{{ name }}" name="{{ name }}">#{{ tag | first }}</a></h4>
    <ul>
    {% for posts in tag %}
        {% for post in posts %}
        <li>
            {% if post.date %}
            <pre class="date">{{ post.date | date_to_string }}</pre>
            {% endif %}
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    {% endfor %}
    </ul>
    {% endfor %}
</div>