// See: http://fontello.com/
.icon
    &:before
        font-family: "Icons"
        font-style: normal
        font-weight: normal
        speak: none

        display: inline-block
        text-decoration: inherit
        text-align: center

        /* For safety - reset parent styles, that can break glyph codes */
        font-variant: normal
        text-transform: none
         
        /* fix buttons height, for twitter bootstrap */
        line-height: 1em

    &.rss-squared
        &:before
            content: '\e800'
    
    &.heart
        &:before
            content: '\e801'

    &.location-outline
        &:before
            content: '\e802'

    &.right-small
        &:before
            content: '\e803'

    &.tag-empty
        &:before
            content: '\e804'
    
    &.clock-1
        &:before
            content: '\e805'

    &.emo-unhappy
        &:before
            content: '\e806'

    &.shuffle
        &:before
            content: '\e807'

    &.down-small
        &:before
            content: '\e808'

    &.link
        &:before
            content: '\e809'