// See: http://fontello.com/
.icon
    &:before
        font-family: "Icons"
        font-style: normal
        font-weight: normal
        speak: none

        display: inline-block
        text-decoration: inherit
        width: 1em
        margin-right: .2em
        text-align: center

        /* For safety - reset parent styles, that can break glyph codes */
        font-variant: normal
        text-transform: none
         
        /* fix buttons height, for twitter bootstrap */
        line-height: 1em

        /* Animation center compensation - margins should be symmetric */
        /* remove if not needed */
        margin-left: .2em 

    &.user
        &:before
            content: '\e800'


    &.search
        &:before
            content: '\e801'

    &.link
        &:before
            content: '\e800'
    
    &.location
        &:before
            content: '\e802'

    &.clock-1
        &:before
            content: '\e805'

    &.hourglass
        &:before
            content: '\e804'

    &.left-open
        &:before
            content: '\e806'

    &.right-open
        &:before
            content: '\e803'