@import 'nib'

$width = 500px

$main_color = #1B676B

$title_font = "aller_lightregular", sans-serif
$text_font  = "charis_silregular", serif

body
    background: #f4f8f3
    color: #7b7b7b
    font-family: $text_font
    font-size: 13px

h1, h2, h3, h4, h5, .title
    font-family: $title_font
    font-weight: 400
    margin: 0 0 15px 0

h1
    font-size: 30px
    line-height: 45px

h2
    font-size: 24px
    line-height: 36px

h3
    font-size: 18px
    line-height: 27px

h4
    font-size: 12px

h5
    font-size: 10px

a
    text-decoration: none
    color: $main_color
    cursor: pointer

    &:hover
        opacity: 0.6
        transition: opacity .15s ease-in-out

    &:focus
        outline: none

p, ul, ol
    line-height: 22px

hr
    border: 0
    border-bottom: 1px dotted #ccc
    margin: 25px -70px

pre
    margin: 0

time
    display: block
    white-space: nowrap

#oops
    background: #f3f1eb
    position: absolute
    text-align: center
    z-index: 2
    top: 0
    height: 100%
    width: 100%
    
    .message
        position: absolute
        top: 30%
        width: 100%
        color: #4a4a4a

        .title
            font-size: 30px
            line-height: 45px

        p
            font-size: 16px

        a
            color: #e16f46
            font-weight: bold

#header
    padding: 40px 0
    text-align: center

    .logo
        display: block
        margin: 0 auto
        margin-bottom: 10px

    .title
        font-size: 18px
        font-weight: bold
        color: $main_color
        padding: 10px
        text-shadow: 1px 1px 0 #fff

    ul
        margin-top: 20px

        li
            margin: 0 10px
            
            a
                color: #7fa5a7
                font-weight: bold
                text-transform: lowercase

#links
    list-style-type: none
    padding: 0
    line-height: 15px

    li
        display: inline-block

    .icon
        &:before
            margin-right: 4px

#content
    perspective: 1300px
    padding-bottom: 20px

    &:after
        clear: both
        display: block
        content: ""  

    .locale
        text-align: center

        a
            margin: 0 10px

    .more
        position: absolute
        bottom: 0
        text-align: center
        width: 100%
        font-weight: bold
        font-size: 14px

        .icon
            margin: 0 6px

    .wrapper
        background: #fff
        border-radius: 5px
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05)
        padding: 70px
        margin: 0 auto
        width: 500px
        transform-style: preserve-3d
        margin-bottom: 60px
        position: relative

        &.animate
            transform: translateZ(400px) translateY(300px) rotateX(-90deg)
            animation: fallPerspective .8s ease-in-out forwards    

        .permalink
            float: right

        h1, h2
            .icon
                font-size: 20px
                display: none
        
        .video, .photo
            margin-bottom: 20px

        .photo
            img
                max-width: 100%
                height: auto

        .content
            margin: 20px 0

            p, blockquote, li
                text-align: justify

            code
                font-size: 12px

        .meta
            margin-top: 15px

            &.icon, .icon
                &:before
                    margin-right: 6px

        ul.tags
            list-style-type: none
            padding: 0
            
            li
                display: inline-block            
                
                &:not(:last-child)
                    margin-right: 4px

                    &:after
                        content: ","
                        display: inline-block

        &.text
            blockquote
                margin-left: 20px
                padding-left: 15px
                border-left: 3px solid #898989

                p
                    margin: 0

            pre
                margin: 0 -70px
                padding: 10px 70px

        &.quote
            .title
                display: none

            blockquote
                margin: 0
                font-weight: normal
                font-size: 28px
                letter-spacing: -1px

                p
                    margin: 0
                    line-height: 34px

        &.link
            h1, h2
                .icon
                    display: inline-block

        &.list            
            article
                &:not(.group):not(:last-child)
                    margin-bottom: 20px

                &.short
                    h1
                        line-height: 20px
                        font-size: 17px
                        margin: 0
                        display: inline-block

                time
                    display: inline-block
                    line-height: 20px
                    vertical-align: top
                    width: 70px
                    text-transform: uppercase

                ul.tags
                    margin: 4px 0 0 74px

            .tag.group
                display: none

@keyframes fallPerspective {
    100% { transform: translateZ(0px) translateY(0px) rotateX(0deg); opacity: 1; }
}

#footer
    color: #7fa5a7
    padding: 0 40px
    text-align: center

    ul
        li
            margin: 0 10px

            a
                font-weight: bold

    .small
        font-size: 11px