@import 'nib'

body
    background: #f4f8f3
    color: #898989
    font-family: "Domine"
    font-size: 13px

h1, h2, h3, h4, h5, .title
    font-family: "Raleway"
    margin: 0 0 15px 0
    font-weight: 600

h1
    font-size: 30px
    line-height: 45px

h2
    font-size: 24px
    line-height: 36px

h3
    font-size: 18px
    line-height: 27px

h4
    font-size: 12px

h5
    font-size: 10px

a
    text-decoration: none
    color: #20676a
    cursor: pointer

    &:hover
        opacity: 0.6
        transition: opacity .15s ease-in-out

    &:focus
        outline: none

p
    line-height: 22px

hr
    border: 0
    border-bottom: 1px dotted #ccc
    margin: 25px -70px

ul
    list-style-type: none
    padding: 0

    li
        display: inline-block

pre
    margin: 0

#header
    padding: 70px 0 40px 0
    text-align: center
    
    &:before
        content: ""
        display: block
        position: absolute
        top: 46px
        left: 50%
        right: 50%
        background: url('../img/favicon.png') no-repeat 0 0
        width: 16px
        height: 16px
        margin-left: -16px
    
    .title
        font-size: 18px
        font-weight: bold
        color: #20676a
        padding: 10px
        text-shadow: 1px 1px 0 #fff

    ul
        margin-top: 20px

        li
            margin: 0 10px
            
            a
                color: #7fa5a7
                font-weight: bold

#links
    .icon
        &:before
            margin-right: 4px

#content
    .wrapper
        background: #fff
        border-radius: 5px
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05)
        padding: 70px
        margin: 0 auto
        width: 500px

        &:not(:last-child)
            margin-bottom: 70px

        h1, h2
            .icon
                display: none

        .photo
            margin-bottom: 20px

            img
                max-width: 100%
                height: auto

        .content
            margin: 20px 0

            p, blockquote
                text-align: justify

        .meta
            margin-top: 15px
            color: #bbb

            &.icon
                &:before
                    margin-right: 6px

            &.tags
                li
                    &:not(:last-child)
                        margin-right: 4px

                        &:after
                            content: ","
                            display: inline-block

        &.text
            blockquote
                margin-left: 20px
                padding-left: 15px
                border-left: 3px solid #898989

                p
                    margin: 0

            pre
                margin: 0 -70px
                padding: 10px 70px

        &.quote
            .title
                display: none

            blockquote
                margin: 0
                font-weight: normal
                font-size: 28px
                letter-spacing: -1px

                p
                    margin: 0
                    line-height: 34px

        &.link
            h1, h2
                .icon
                    display: inline-block

        &.tags
            h4
                &:not(:first-child)
                    margin-top: 30px

                a
                    color: inherit

            ul
                li
                    display: block
                    margin: 4px 0

                    .date
                        display: inline-block
                        font-size: 12px
                        margin-right: 6px

#flip
    .previous, .next
        position: fixed
        top: 50%
        left: 50%
        font-size: 40px
        padding: 10px

    .previous
        margin-left: 330px
    
    .next
        margin-left: -364px

    a
        opacity: 0.25

        &:hover
            opacity: 1

#pagination
    margin: 0 auto
    width: 640px
    position: relative
    height: 16px

    .newer, .older
        position: absolute
        font-weight: bold
        font-family: "Raleway"
        font-size: 14px

    .newer
        left: 0

        .icon
            margin-right: 6px

    .older
        right: 0

        .icon
            margin-left: 6px

#footer
    color: #999
    padding: 40px
    text-align: center

    ul
        li
            margin: 0 10px

            a
                font-weight: bold

    .small
        font-size: 11px