@import 'nib'

$width = 500px

$main_color = #1B676B

body
    background: #f4f8f3
    color: #7b7b7b
    font-family: "Domine"
    font-size: 13px

h1, h2, h3, h4, h5, .title
    font-family: "Raleway"
    margin: 0 0 15px 0
    font-weight: 600

h1
    font-size: 30px
    line-height: 45px

h2
    font-size: 24px
    line-height: 36px

h3
    font-size: 18px
    line-height: 27px

h4
    font-size: 12px

h5
    font-size: 10px

a
    text-decoration: none
    color: $main_color
    cursor: pointer

    &:hover
        opacity: 0.6
        transition: opacity .15s ease-in-out

    &:focus
        outline: none

p
    line-height: 22px

hr
    border: 0
    border-bottom: 1px dotted #ccc
    margin: 25px -70px

ul
    list-style-type: none
    padding: 0

    li
        display: inline-block

pre
    margin: 0

time
    display: block
    white-space: nowrap

#header
    padding: 70px 0 40px 0
    text-align: center
    
    &:before
        content: ""
        display: block
        position: absolute
        top: 46px
        left: 50%
        right: 50%
        background: url('../img/favicon.png') no-repeat 0 0
        width: 16px
        height: 16px
        margin-left: -16px

    .title
        font-size: 18px
        font-weight: bold
        color: $main_color
        padding: 10px
        text-shadow: 1px 1px 0 #fff

    ul
        margin-top: 20px

        li
            margin: 0 10px
            
            a
                color: #7fa5a7
                font-weight: bold
                text-transform: lowercase

#links
    .icon
        &:before
            margin-right: 4px

#content
    perspective: 1300px
    padding-bottom: 20px

    &:after
        clear: both
        display: block
        content: ""  

    .locale
        text-align: center

        a
            margin: 0 10px

    .more
        position: absolute
        bottom: 0
        text-align: center
        width: 100%
        font-weight: bold
        font-size: 14px

        .icon
            margin: 0 6px

    .wrapper
        background: #fff
        border-radius: 5px
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05)
        padding: 70px
        margin: 0 auto
        width: 500px
        transform-style: preserve-3d
        margin-bottom: 60px

        &.animate
            transform: translateZ(400px) translateY(300px) rotateX(-90deg)
            animation: fallPerspective .8s ease-in-out forwards    

        h1, h2
            .icon
                display: none

        .photo
            margin-bottom: 20px

            img
                max-width: 100%
                height: auto

        .content
            margin: 20px 0

            p, blockquote
                text-align: justify

        .meta
            margin-top: 15px

            &.icon
                &:before
                    margin-right: 6px

        &.text
            blockquote
                margin-left: 20px
                padding-left: 15px
                border-left: 3px solid #898989

                p
                    margin: 0

            pre
                margin: 0 -70px
                padding: 10px 70px

        &.quote
            .title
                display: none

            blockquote
                margin: 0
                font-weight: normal
                font-size: 28px
                letter-spacing: -1px

                p
                    margin: 0
                    line-height: 34px

        &.link
            h1, h2
                .icon
                    display: inline-block

        &.list
            .article
                &:not(:last-child)
                    margin-bottom: 30px

                h2, time
                    display: inline-block

                h2
                    font-size: 16px
                    margin: 0
                    line-height: 20px

                time
                    width: 70px
                    text-transform: uppercase

                ul.tags
                    margin: 10px 0 0 74px

            .tag.group
                display: none

        ul.tags
            li
                &:not(:last-child)
                    margin-right: 4px

                    &:after
                        content: ","
                        display: inline-block

@keyframes fallPerspective {
    100% { transform: translateZ(0px) translateY(0px) rotateX(0deg); opacity: 1; }
}

#footer
    color: #999
    padding: 0 40px
    text-align: center

    ul
        li
            margin: 0 10px

            a
                font-weight: bold

    .small
        font-size: 11px