<!-- index n+ posts. -->
{% assign batch = 1 %}

<!-- show at most n posts straight away -->
{% for page in site.categories[include.locale] %}
    {% if forloop.index <= batch %}
    {% assign content = page.content %}
    {% include post.html %}
    {% endif %}
{% endfor %}

{% if site.categories[include.locale].size > batch %}
<p class="more">
    <span class="icon down-small"></span>Scroll to reveal more articles<span class="icon down-small"></span>
</p>
{% endif %}

<script>
$(function() {
    var batch = {{ batch }},
        // Further articles.
        more = [
        {% for post in site.categories[include.locale] %}
        {% if forloop.index > batch %}
        "{{ post.url | prepend: site.baseurl }}"{% unless forloop.last %},{% endunless %}
        {% endif %}
        {% endfor %}],
        // Are we ready?
        ready = true,
        // Append all here.
        target = $('#content')
        // Uh, window & document.
        w = $(window),
        d = $(document),
        // Scroll handler.
        onScroll = null,
        url = null
        note = target.find('.more');
    
    // On scroll.
    w.on('scroll', onScroll = function() {
        if (w.scrollTop() + w.height() > d.height() - 100) {
            w.unbind('scroll');
            
            // Load more articles.
            if (!ready || (url = more.shift()) == null) {
                return;
            } else {
                ready = false;
                note.hide();
            }

            $.get(url, function(html) {
                // Done.
                ready = true;
                w.bind('scroll', onScroll);
                
                note[ (more.length) ? 'show' : 'remove' ]();

                // Append to DOM.
                target.append($(html).addClass('animate'));
            });
        }
    });
});
</script>