{% assign locale = page.locale %}
{% assign i18n = site.data.i18n %}

<ul id="links">
    <li><a href="{{ site.baseurl }}/{{ locale }}/schedule.html">{{ i18n.schedule[locale] }}</a></li>
    <li><a href="{{ site.baseurl }}/{{ locale }}/archive/">{{ i18n.archive[locale] }}</a></li>
    <li><a href="{{ site.baseurl }}/{{ locale }}/random/" class="icon shuffle">{{ i18n.random[locale] }}</a></li>
    <li><a href="mailto:{{ site.email }}">{{ i18n.contact[locale] }}</a></li>
    <li><a href="{{ site.baseurl }}/{{ locale }}/feed.xml" class="icon rss-squared">{{ i18n.feed[locale] }}</a></li>
</ul>