<script>
$(function() {
    var route, hash, url, fail,
        regex  = /^#!\/(\d{4}\/\d{1,2}\/\d{1,2}\/.*)$/,
        root   = '{{ site.baseurl }}',
        target = $('#content'),
        locale = '{{ page.locale }}';

    fail = function() {
        $.event.trigger('oops');
    };

    route = function() {
        if (match = (hash = window.location.hash).match(regex)) {
            url = [ root, locale, match[1] ].join('/');
            $.get(url, function(html) {
                // Can we save to store as a seen article?
                if (store.enabled) {
                    var seen = store.get('seen') || [];
                    if (seen.indexOf(url) == -1) {
                        seen.push(url);
                        store.set('seen', seen);
                    }
                }
                $.event.trigger('success');
                target.html(html);
                $.event.trigger('moment');
            }).fail(fail);
        } else {
            // No match...
            fail();
        }
    };

    if ('onhashchange' in window && 'hash' in window.location) {
        window.addEventListener('hashchange', route, false);
        route.call(null);
    }
});
</script>