<div class="wrapper {{ page.type }}">
    {% if page.photos %}
        {% for photo in page.photos %}
        <div class="photo">
            <a target="{{ photo }}" href="{{ site.baseurl }}/assets/photos/{{ photo }}">
                <img alt="{{ page.title }} - {{ photo }}" src="{{ site.baseurl }}/assets/photos/{{ photo }}" />
            </a>
        </div>
        {% endfor %}
    {% endif %}

    {% case include.detail %}
        {% when 'yes' %}
            <h1 class="title">{{ page.title }}</h1>
            <div class="content">{{ content }}</div>
        {% when 'no' %}
            <h2 class="title"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h2>
            <div class="content">{{ page.content }}</div>
    {% endcase %}

    {% if page.tags.first %}
    <ul class="meta icon tag-empty">
    {% for tag in page.tags %}
        <li>#{{ tag }}</li>
    {% endfor %}
    </ul>
    {% endif %}

    {% if page.location %}
    {{ page.location.arr[0] }}
    <div class="meta icon location-outline">
        <a target="_{{ page.location.ddd }}" href="http://maps.google.com/?q={{ page.location.ddd | join: ',' }}">{{ page.location.name }}</a>
    </div>
    {% endif %}

    <div class="meta icon clock-1">{{ page.date | date_to_string }}</div>
</div>