{% assign locale = post.category %}

<article class="wrapper {{ post.type }}">
    <!-- video -->
    {% if post.video %}
    <iframe class="video" src="//player.vimeo.com/video/{{ post.video.id }}?color={{ post.video.color }}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    {% endif %}

    <!-- photos -->
    {% if post.photos %}
        {% for photo in post.photos %}
        <div class="photo">
            <a target="_{{ photo | cgi_escape | downcase }}" href="{{ site.baseurl }}/assets/photos/{{ photo }}">
                <img alt="{{ post.title }} - {{ photo }}" src="{{ site.baseurl }}/assets/photos/{{ photo }}" />
            </a>
        </div>
        {% endfor %}
    {% endif %}

    <!-- post details -->
    {% case post.type %}
        <!-- link posts -->
        {% when 'link' %}
            <h1 class="title"><a target="_{{ post.title | cgi_escape | downcase }}" href="{{ post.href }}">{{ post.title }} <span class="icon right-small"></span></a></h1>
        <!-- other -->
        {% else %}
            <h1 class="title"><a href="{% include url.html which='post' %}">{{ post.title }}</a></h1>
    {% endcase %}
    
    <!-- the content -->
    <div class="content">{{ content }}</div>

    <!-- tags -->
    {% if post.tags.first %}
    <ul class="meta tags icon tag-empty">
    {% for tag in post.tags %}
        <li><a href="{% include url.html which='tag' %}">#{{ tag }}</a></li>
    {% endfor %}
    </ul>
    {% endif %}

    <!-- location -->
    {% if post.location %}
    <div class="meta icon location-outline">
        <a target="_{{ post.location.name | cgi_escape | downcase }}" href="http://maps.google.com/?q={{ post.location.ddd | join: ',' }}">{{ post.location.name }}</a>
    </div>
    {% endif %}

    <!-- date -->
    <div class="meta">
        <a class="icon link permalink" href="{% include url.html which='post' %}">{{ site.data.i18n.permalink[locale] }}</a>
        <time datetime="{{ post.date }}" method="ago" class="icon clock-1"></time>
    </div>
</article>

<script>
if (typeof $ != 'undefined') $.event.trigger('title', [ '{{ post.title }}' ]);
</script>