{% assign locale = page.locale %}

<script>
$(function() {    
    var route, hash, url,
        regex  = /^#!(.*)$/,
        selector = $('.tag.group');

    route = function() {
        if (match = (hash = window.location.hash).match(regex)) {
            if (!(selector.hide().filter('[tag="' + match[1] + '"]').show()).length) {
                // No match...
            }
        } else {
            // Malformed hash.
        }
    };

    if ('onhashchange' in window && 'hash' in window.location) {
        window.addEventListener('hashchange', route, false);
        route.call(null);
    }
});
</script>

<div class="wrapper list">
{% for tag in site.tags %}
    {% assign name = tag | first | cgi_escape | downcase %}
    {% assign show = true %}
        
    {% for posts in tag %}
        {% assign close = false %}
        {% for post in posts %}
            {% if post.category == locale %}
                {% if show %}
                    {% assign show = false %}
                    {% assign close = true %}
            <div class="tag group" tag="{{ name }}">
                <h1>{{ tag | first }}</h1>
                {% endif %}
                
                {% include post_short.html %}
            {% endif %}
        {% endfor %}

        {% if close %}
            </div>
        {% endif %}
    {% endfor %}

{% endfor %}
</div>