{% assign locale = page.locale %}

<script>
$(function() {    
    var route, fail,
        regex  = /^#!(.*)$/,
        selector = $('.tag.group');

    fail = function() {
        $.event.trigger('oops');
    };

    route = function() {
        if (match = window.location.hash.match(regex)) {
            // Hide all and show any matches.
            if ((selector.hide().filter('[tag="' + match[1] + '"]').show()).length) {
                $.event.trigger('success');
            } else {
                // No match...
                fail();
            }
        } else {
            // Malformed hash.
            fail();
        }
    };

    // Slugify all the tags on the page.
    $('[tag]').each(function() {
        var el = $(this);
        el.attr('tag', $.slugify(el.attr('tag')));
    });

    // Start routing.
    if ('onhashchange' in window && 'hash' in window.location) {
        window.addEventListener('hashchange', route, false);
        route.call(null);
    }
});
</script>

<article class="wrapper list">
{% for tag in site.tags %}
    {% assign show = true %}
        
    {% for posts in tag %}
        {% assign close = false %}
        {% for post in posts %}
            {% if post.category == locale %}
                {% if show %}
                    {% assign show = false %}
                    {% assign close = true %}
            <article class="tag group" tag="{{ tag | first | xml_escape | downcase }}">
                <h1>{{ tag | first }}</h1>
                {% endif %}
                
                {% include post-short.html %}
            {% endif %}
        {% endfor %}

        {% if close %}
            </article>
        {% endif %}
    {% endfor %}

{% endfor %}
</article>