<div class="wrapper list">
    <h1>{{ site.data.i18n.tags[page.locale] }}</h1>
    
    <table>
        <tbody>
        {% for tag in site.tags %}
        {% assign name = tag | first | cgi_escape %}
        {% assign show = true %}
            
            {% for posts in tag %}
                {% for post in posts %}
                {% if post.category == page.locale %}
                {% if show %}
                <tr>
                    <td colspan="2">
                        <a href="#{{ name }}" name="{{ name }}">#{{ tag | first }}</a>
                    </td>                        
                </tr>
                {% assign show = false %}
                {% endif %}
                <tr>
                    <td>{{ post.date | date: "%d/%m/%Y" }}</td>
                    <td>
                        <a href="{% include url.html which='post' %}">{{ post.title }}</a>
                        {% if post.location %}
                        <span class="icon location-outline"></span>{{ post.location.name }}
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            {% endfor %}

        {% endfor %}
        </tbody>
    </table>
</div>