div.highlight,div.highlight code,div.highlight pre{background:#29281e}
div.highlight code{padding:0}
div.highlight .c{color:#75715e}
div.highlight .err{color:#960050;background-color:#1e0010}
div.highlight .k{color:#66d9ef}
div.highlight .l{color:#ae81ff}
div.highlight .n{color:#f8f8f2}
div.highlight .o{color:#f92672}
div.highlight .p{color:#f8f8f2}
div.highlight .cm{color:#75715e}
div.highlight .cp{color:#75715e}
div.highlight .c1{color:#75715e}
div.highlight .cs{color:#75715e}
div.highlight .ge{font-style:italic}
div.highlight .gs{font-weight:bold}
div.highlight .kc{color:#66d9ef}
div.highlight .kd{color:#66d9ef}
div.highlight .kn{color:#f92672}
div.highlight .kp{color:#66d9ef}
div.highlight .kr{color:#66d9ef}
div.highlight .kt{color:#66d9ef}
div.highlight .ld{color:#e6db74}
div.highlight .m{color:#ae81ff}
div.highlight .s{color:#e6db74}
div.highlight .na{color:#a6e22e}
div.highlight .nb{color:#f8f8f2}
div.highlight .nc{color:#a6e22e}
div.highlight .no{color:#66d9ef}
div.highlight .nd{color:#a6e22e}
div.highlight .ni{color:#f8f8f2}
div.highlight .ne{color:#a6e22e}
div.highlight .nf{color:#a6e22e}
div.highlight .nl{color:#f8f8f2}
div.highlight .nn{color:#f8f8f2}
div.highlight .nx{color:#a6e22e}
div.highlight .py{color:#f8f8f2}
div.highlight .nt{color:#f92672}
div.highlight .nv{color:#f8f8f2}
div.highlight .ow{color:#f92672}
div.highlight .w{color:#f8f8f2}
div.highlight .mf{color:#ae81ff}
div.highlight .mh{color:#ae81ff}
div.highlight .mi{color:#ae81ff}
div.highlight .mo{color:#ae81ff}
div.highlight .sb{color:#e6db74}
div.highlight .sc{color:#e6db74}
div.highlight .sd{color:#e6db74}
div.highlight .s2{color:#e6db74}
div.highlight .se{color:#ae81ff}
div.highlight .sh{color:#e6db74}
div.highlight .si{color:#e6db74}
div.highlight .sx{color:#e6db74}
div.highlight .sr{color:#e6db74}
div.highlight .s1{color:#e6db74}
div.highlight .ss{color:#e6db74}
div.highlight .bp{color:#f8f8f2}
div.highlight .vc{color:#f8f8f2}
div.highlight .vg{color:#f8f8f2}
div.highlight .vi{color:#f8f8f2}
div.highlight .il{color:#ae81ff}

@font-face{font-family:'Domine';font-style:normal;font-weight:400;src:local('Domine'),local('Domine-Regular'),url("http://themes.googleusercontent.com/static/fonts/domine/v2/1KlmlHXZHUehH22N_q86AA.woff") format('woff')}
@font-face{font-family:'Domine';font-style:normal;font-weight:700;src:local('Domine Bold'),local('Domine-Bold'),url("http://themes.googleusercontent.com/static/fonts/domine/v2/BmiPqZorq0QiT-p6kf1paT8E0i7KZn-EPnyo3HZu7kw.woff") format('woff')}
@font-face{font-family:'Raleway';font-style:normal;font-weight:400;src:local('Raleway'),url("http://themes.googleusercontent.com/static/fonts/raleway/v7/IczWvq5y_Cwwv_rBjOtT0w.woff") format('woff')}
@font-face{font-family:'Raleway';font-style:normal;font-weight:600;src:local('Raleway SemiBold'),local('Raleway-SemiBold'),url("http://themes.googleusercontent.com/static/fonts/raleway/v7/xkvoNo9fC8O2RDydKj12bxsxEYwM7FgeyaSgU71cLG0.woff") format('woff')}
@font-face{font-family:'Raleway';font-style:normal;font-weight:700;src:local('Raleway Bold'),local('Raleway-Bold'),url("http://themes.googleusercontent.com/static/fonts/raleway/v7/JbtMzqLaYbbbCL9X6EvaIxsxEYwM7FgeyaSgU71cLG0.woff") format('woff')}
@font-face{font-family:'Icons';src:url("../fonts/icons.eot?16565305");src:url("../fonts/icons.eot?16565305#iefix") format('embedded-opentype'),url("../fonts/icons.woff?16565305") format('woff'),url("../fonts/icons.ttf?16565305") format('truetype'),url("../fonts/icons.svg?16565305#icons") format('svg');font-weight:normal;font-style:normal}

.icon:before{font-family:"Icons";font-style:normal;font-weight:normal;speak:none;display:inline-block;text-decoration:inherit;text-align:center;font-variant:normal;text-transform:none;line-height:1em}
.icon.spin6:before{content:'\e801'}
.icon.rss-squared:before{content:'\e800'}
.icon.clock-1:before{content:'\e805'}
.icon.location-outline:before{content:'\e802'}
.icon.down-small:before{content:'\e808'}
.icon.tag-empty:before{content:'\e804'}

body{background:#f4f8f3;color:#898989;font-family:"Domine";font-size:13px}
h1,h2,h3,h4,h5,.title{font-family:"Raleway";margin:0 0 15px 0;font-weight:600}
h1{font-size:30px;line-height:45px}
h2{font-size:24px;line-height:36px}
h3{font-size:18px;line-height:27px}
h4{font-size:12px}
h5{font-size:10px}
a{text-decoration:none;color:#20676a;cursor:pointer;}
a:hover{opacity:.6;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";filter:alpha(opacity=60);-webkit-transition:opacity 0.15s ease-in-out;-moz-transition:opacity 0.15s ease-in-out;-o-transition:opacity 0.15s ease-in-out;-ms-transition:opacity 0.15s ease-in-out;transition:opacity 0.15s ease-in-out}
a:focus{outline:none}
p{line-height:22px}
hr{border:0;border-bottom:1px dotted #ccc;margin:25px -70px}
ul{list-style-type:none;padding:0;}
ul li{display:inline-block}
pre{margin:0}
#header{padding:70px 0 40px 0;text-align:center;}
#header:before{content:"";display:block;position:absolute;top:46px;left:50%;right:50%;background:url("../img/favicon.png") no-repeat 0 0;width:16px;height:16px;margin-left:-16px}
#header .title{font-size:18px;font-weight:bold;color:#20676a;padding:10px;text-shadow:1px 1px 0 #fff}
#header ul{margin-top:20px;}
#header ul li{margin:0 10px;}
#header ul li a{color:#7fa5a7;font-weight:bold}
#links .icon:before{margin-right:4px}
#content{-webkit-perspective:1300px;-moz-perspective:1300px;-ms-perspective:1300px;perspective:1300px;padding-bottom:20px;}
#content:after{clear:both;display:block;content:""}
#content .more{position:absolute;bottom:0;text-align:center;width:100%;font-weight:bold;font-size:14px;}
#content .more .icon{margin:0 6px}
#content .wrapper{background:#fff;-webkit-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.05);box-shadow:0 1px 2px rgba(0,0,0,0.05);padding:70px;margin:0 auto;width:500px;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-o-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d;margin-bottom:70px;}
#content .wrapper.animate{-webkit-transform:translateZ(400px) translateY(300px) rotateX(-90deg);-moz-transform:translateZ(400px) translateY(300px) rotateX(-90deg);-o-transform:translateZ(400px) translateY(300px) rotateX(-90deg);-ms-transform:translateZ(400px) translateY(300px) rotateX(-90deg);transform:translateZ(400px) translateY(300px) rotateX(-90deg);-webkit-animation:fallPerspective .8s ease-in-out forwards;-moz-animation:fallPerspective .8s ease-in-out forwards;-o-animation:fallPerspective .8s ease-in-out forwards;-ms-animation:fallPerspective .8s ease-in-out forwards;animation:fallPerspective .8s ease-in-out forwards}
#content .wrapper h1 .icon,#content .wrapper h2 .icon{display:none}
#content .wrapper .photo{margin-bottom:20px;}
#content .wrapper .photo img{max-width:100%;height:auto}
#content .wrapper .content{margin:20px 0;}
#content .wrapper .content p,#content .wrapper .content blockquote{text-align:justify}
#content .wrapper .meta{margin-top:15px;color:#bbb;}
#content .wrapper .meta.icon:before{margin-right:6px}
#content .wrapper .meta.tags li:not(:last-child){margin-right:4px;}
#content .wrapper .meta.tags li:not(:last-child):after{content:",";display:inline-block}
#content .wrapper.text blockquote{margin-left:20px;padding-left:15px;border-left:3px solid #898989;}
#content .wrapper.text blockquote p{margin:0}
#content .wrapper.text pre{margin:0 -70px;padding:10px 70px}
#content .wrapper.quote .title{display:none}
#content .wrapper.quote blockquote{margin:0;font-weight:normal;font-size:28px;letter-spacing:-1px;}
#content .wrapper.quote blockquote p{margin:0;line-height:34px}
#content .wrapper.link h1 .icon,#content .wrapper.link h2 .icon{display:inline-block}
#content .wrapper.tags h4:not(:first-child){margin-top:30px}
#content .wrapper.tags h4 a{color:inherit}
#content .wrapper.tags ul li{display:block;margin:4px 0;}
#content .wrapper.tags ul li .date{display:inline-block;font-size:12px;margin-right:6px}
#footer{color:#999;padding:40px;text-align:center;}
#footer ul li{margin:0 10px;}
#footer ul li a{font-weight:bold}
#footer .small{font-size:11px}
@-moz-keyframes fallPerspective{100%{-webkit-transform:translateZ(0) translateY(0) rotateX(0);-moz-transform:translateZ(0) translateY(0) rotateX(0);-o-transform:translateZ(0) translateY(0) rotateX(0);-ms-transform:translateZ(0) translateY(0) rotateX(0);transform:translateZ(0) translateY(0) rotateX(0);opacity:1;-ms-filter:none;filter:none}
}@-webkit-keyframes fallPerspective{100%{-webkit-transform:translateZ(0) translateY(0) rotateX(0);-moz-transform:translateZ(0) translateY(0) rotateX(0);-o-transform:translateZ(0) translateY(0) rotateX(0);-ms-transform:translateZ(0) translateY(0) rotateX(0);transform:translateZ(0) translateY(0) rotateX(0);opacity:1;-ms-filter:none;filter:none}
}@-o-keyframes fallPerspective{100%{-webkit-transform:translateZ(0) translateY(0) rotateX(0);-moz-transform:translateZ(0) translateY(0) rotateX(0);-o-transform:translateZ(0) translateY(0) rotateX(0);-ms-transform:translateZ(0) translateY(0) rotateX(0);transform:translateZ(0) translateY(0) rotateX(0);opacity:1;-ms-filter:none;filter:none}
}@-ms-keyframes fallPerspective{100%{-webkit-transform:translateZ(0) translateY(0) rotateX(0);-moz-transform:translateZ(0) translateY(0) rotateX(0);-o-transform:translateZ(0) translateY(0) rotateX(0);-ms-transform:translateZ(0) translateY(0) rotateX(0);transform:translateZ(0) translateY(0) rotateX(0);opacity:1;-ms-filter:none;filter:none}
}@keyframes fallPerspective{100%{-webkit-transform:translateZ(0) translateY(0) rotateX(0);-moz-transform:translateZ(0) translateY(0) rotateX(0);-o-transform:translateZ(0) translateY(0) rotateX(0);-ms-transform:translateZ(0) translateY(0) rotateX(0);transform:translateZ(0) translateY(0) rotateX(0);opacity:1;-ms-filter:none;filter:none}
}