pre{background:#f0f0f0;}
pre .hll{background-color:#ffc}
pre .c{color:#60a0b0;font-style:italic}
pre .err{border:1px solid #f00}
pre .k{color:#007020;font-weight:bold}
pre .o{color:#666}
pre .cm{color:#60a0b0;font-style:italic}
pre .cp{color:#007020}
pre .c1{color:#60a0b0;font-style:italic}
pre .cs{color:#60a0b0;background-color:#fff0f0}
pre .gd{color:#a00000}
pre .ge{font-style:italic}
pre .gr{color:#f00}
pre .gh{color:#000080;font-weight:bold}
pre .gi{color:#00a000}
pre .go{color:#888}
pre .gp{color:#c65d09;font-weight:bold}
pre .gs{font-weight:bold}
pre .gu{color:#800080;font-weight:bold}
pre .gt{color:#04d}
pre .kc{color:#007020;font-weight:bold}
pre .kd{color:#007020;font-weight:bold}
pre .kn{color:#007020;font-weight:bold}
pre .kp{color:#007020}
pre .kr{color:#007020;font-weight:bold}
pre .kt{color:#902000}
pre .m{color:#40a070}
pre .s{color:#4070a0}
pre .na{color:#4070a0}
pre .nb{color:#007020}
pre .nc{color:#0e84b5;font-weight:bold}
pre .no{color:#60add5}
pre .nd{color:#555;font-weight:bold}
pre .ni{color:#d55537;font-weight:bold}
pre .ne{color:#007020}
pre .nf{color:#06287e}
pre .nl{color:#002070;font-weight:bold}
pre .nn{color:#0e84b5;font-weight:bold}
pre .nt{color:#062873;font-weight:bold}
pre .nv{color:#bb60d5}
pre .ow{color:#007020;font-weight:bold}
pre .w{color:#bbb}
pre .mf{color:#40a070}
pre .mh{color:#40a070}
pre .mi{color:#40a070}
pre .mo{color:#40a070}
pre .sb{color:#4070a0}
pre .sc{color:#4070a0}
pre .sd{color:#4070a0;font-style:italic}
pre .s2{color:#4070a0}
pre .se{color:#4070a0;font-weight:bold}
pre .sh{color:#4070a0}
pre .si{color:#70a0d0;font-style:italic}
pre .sx{color:#c65d09}
pre .sr{color:#235388}
pre .s1{color:#4070a0}
pre .ss{color:#517918}
pre .bp{color:#007020}
pre .vc{color:#bb60d5}
pre .vg{color:#bb60d5}
pre .vi{color:#bb60d5}
pre .il{color:#40a070}
.highlight pre{background:#fff;}
.highlight pre .hll{background-color:#ffc}
.highlight pre .c{color:#888}
.highlight pre .err{color:#f00;background-color:#faa}
.highlight pre .k{color:#080;font-weight:bold}
.highlight pre .o{color:#333}
.highlight pre .cm{color:#888}
.highlight pre .cp{color:#579}
.highlight pre .c1{color:#888}
.highlight pre .cs{color:#c00;font-weight:bold}
.highlight pre .gd{color:#a00000}
.highlight pre .ge{font-style:italic}
.highlight pre .gr{color:#f00}
.highlight pre .gh{color:#000080;font-weight:bold}
.highlight pre .gi{color:#00a000}
.highlight pre .go{color:#888}
.highlight pre .gp{color:#c65d09;font-weight:bold}
.highlight pre .gs{font-weight:bold}
.highlight pre .gu{color:#800080;font-weight:bold}
.highlight pre .gt{color:#04d}
.highlight pre .kc{color:#080;font-weight:bold}
.highlight pre .kd{color:#080;font-weight:bold}
.highlight pre .kn{color:#080;font-weight:bold}
.highlight pre .kp{color:#038;font-weight:bold}
.highlight pre .kr{color:#080;font-weight:bold}
.highlight pre .kt{color:#339;font-weight:bold}
.highlight pre .m{color:#60e;font-weight:bold}
.highlight pre .s{background-color:#fff0f0}
.highlight pre .na{color:#00c}
.highlight pre .nb{color:#007020}
.highlight pre .nc{color:#b06;font-weight:bold}
.highlight pre .no{color:#036;font-weight:bold}
.highlight pre .nd{color:#555;font-weight:bold}
.highlight pre .ni{color:#800;font-weight:bold}
.highlight pre .ne{color:#f00;font-weight:bold}
.highlight pre .nf{color:#06b;font-weight:bold}
.highlight pre .nl{color:#970;font-weight:bold}
.highlight pre .nn{color:#0e84b5;font-weight:bold}
.highlight pre .nt{color:#070}
.highlight pre .nv{color:#963}
.highlight pre .ow{color:#000;font-weight:bold}
.highlight pre .w{color:#bbb}
.highlight pre .mf{color:#60e;font-weight:bold}
.highlight pre .mh{color:#058;font-weight:bold}
.highlight pre .mi{color:#00d;font-weight:bold}
.highlight pre .mo{color:#40e;font-weight:bold}
.highlight pre .sb{background-color:#fff0f0}
.highlight pre .sc{color:#04d}
.highlight pre .sd{color:#d42}
.highlight pre .s2{background-color:#fff0f0}
.highlight pre .se{color:#666;font-weight:bold;background-color:#fff0f0}
.highlight pre .sh{background-color:#fff0f0}
.highlight pre .si{background-color:#eee}
.highlight pre .sx{color:#d20;background-color:#fff0f0}
.highlight pre .sr{color:#000;background-color:#fff0ff}
.highlight pre .s1{background-color:#fff0f0}
.highlight pre .ss{color:#a60}
.highlight pre .bp{color:#007020}
.highlight pre .vc{color:#369}
.highlight pre .vg{color:#d70;font-weight:bold}
.highlight pre .vi{color:#33b}
.highlight pre .il{color:#00d;font-weight:bold}

@font-face{font-family:'allerbold';src:url("../fonts/aller/aller_bd-webfont.eot");src:url("../fonts/aller/aller_bd-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/aller/aller_bd-webfont.woff") format('woff'),url("../fonts/aller/aller_bd-webfont.ttf") format('truetype');font-weight:normal;font-style:normal}
@font-face{font-family:'aller_lightregular';src:url("../fonts/aller/aller_lt-webfont.eot");src:url("../fonts/aller/aller_lt-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/aller/aller_lt-webfont.woff") format('woff'),url("../fonts/aller/aller_lt-webfont.ttf") format('truetype');font-weight:normal;font-style:normal}
@font-face{font-family:'allerregular';src:url("../fonts/aller/aller_rg-webfont.eot");src:url("../fonts/aller/aller_rg-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/aller/aller_rg-webfont.woff") format('woff'),url("../fonts/aller/aller_rg-webfont.ttf") format('truetype');font-weight:normal;font-style:normal}
@font-face{font-family:'charis_silbold';src:url("../fonts/charis-sil/charissilb-webfont.eot");src:url("../fonts/charis-sil/charissilb-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/charis-sil/charissilb-webfont.woff") format('woff'),url("../fonts/charis-sil/charissilb-webfont.ttf") format('truetype');font-weight:normal;font-style:normal}
@font-face{font-family:'charis_silbold_italic';src:url("../fonts/charis-sil/charissilbi-webfont.eot");src:url("../fonts/charis-sil/charissilbi-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/charis-sil/charissilbi-webfont.woff") format('woff'),url("../fonts/charis-sil/charissilbi-webfont.ttf") format('truetype');font-weight:normal;font-style:normal}
@font-face{font-family:'charis_silitalic';src:url("../fonts/charis-sil/charissili-webfont.eot");src:url("../fonts/charis-sil/charissili-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/charis-sil/charissili-webfont.woff") format('woff'),url("../fonts/charis-sil/charissili-webfont.ttf") format('truetype');font-weight:normal;font-style:normal}
@font-face{font-family:'charis_silregular';src:url("../fonts/charis-sil/charissilr-webfont.eot");src:url("../fonts/charis-sil/charissilr-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/charis-sil/charissilr-webfont.woff") format('woff'),url("../fonts/charis-sil/charissilr-webfont.ttf") format('truetype');font-weight:normal;font-style:normal}
@font-face{font-family:'Icons';src:url("../fonts/icons/icons.eot?16565305");src:url("../fonts/icons/icons.eot?16565305#iefix") format('embedded-opentype'),url("../fonts/icons/icons.woff?16565305") format('woff'),url("../fonts/icons/icons.ttf?16565305") format('truetype'),url("../fonts/icons/icons.svg?16565305#icons") format('svg');font-weight:normal;font-style:normal}

.icon:before{font-family:"Icons";font-style:normal;font-weight:normal;speak:none;display:inline-block;text-decoration:inherit;text-align:center;font-variant:normal;text-transform:none;line-height:1em}
.icon.heart:before{content:'\e801'}
.icon.rss-squared:before{content:'\e800'}
.icon.right-small:before{content:'\e803'}
.icon.clock-1:before{content:'\e805'}
.icon.location-outline:before{content:'\e802'}
.icon.down-small:before{content:'\e808'}
.icon.tag-empty:before{content:'\e804'}

body{background:#f4f8f3;color:#7b7b7b;font-family:"charis_silregular";font-size:13px}
h1,h2,h3,h4,h5,.title{font-family:"aller_lightregular";font-weight:400;margin:0 0 15px 0}
h1{font-size:30px;line-height:45px}
h2{font-size:24px;line-height:36px}
h3{font-size:18px;line-height:27px}
h4{font-size:12px}
h5{font-size:10px}
a{text-decoration:none;color:#1b676b;cursor:pointer;}
a:hover{opacity:.6;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";filter:alpha(opacity=60);-webkit-transition:opacity 0.15s ease-in-out;-moz-transition:opacity 0.15s ease-in-out;-o-transition:opacity 0.15s ease-in-out;-ms-transition:opacity 0.15s ease-in-out;transition:opacity 0.15s ease-in-out}
a:focus{outline:none}
p,ul,ol{line-height:22px}
hr{border:0;border-bottom:1px dotted #ccc;margin:25px -70px}
pre{margin:0}
time{display:block;white-space:nowrap}
#header{padding:70px 0 40px 0;text-align:center;}
#header:before{content:"";display:block;position:absolute;top:46px;left:50%;right:50%;background:url("../img/favicon.png") no-repeat 0 0;width:16px;height:16px;margin-left:-16px}
#header .title{font-size:18px;font-weight:bold;color:#1b676b;padding:10px;text-shadow:1px 1px 0 #fff}
#header ul{margin-top:20px;}
#header ul li{margin:0 10px;}
#header ul li a{color:#7fa5a7;font-weight:bold;text-transform:lowercase}
#links{list-style-type:none;padding:0;line-height:15px;}
#links li{display:inline-block}
#links .icon:before{margin-right:4px}
#content{-webkit-perspective:1300px;-moz-perspective:1300px;-ms-perspective:1300px;perspective:1300px;padding-bottom:20px;}
#content:after{clear:both;display:block;content:""}
#content .locale{text-align:center;}
#content .locale a{margin:0 10px}
#content .more{position:absolute;bottom:0;text-align:center;width:100%;font-weight:bold;font-size:14px;}
#content .more .icon{margin:0 6px}
#content .wrapper{background:#fff;-webkit-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.05);box-shadow:0 1px 2px rgba(0,0,0,0.05);padding:70px;margin:0 auto;width:500px;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-o-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d;margin-bottom:60px;}
#content .wrapper.animate{-webkit-transform:translateZ(400px) translateY(300px) rotateX(-90deg);-moz-transform:translateZ(400px) translateY(300px) rotateX(-90deg);-o-transform:translateZ(400px) translateY(300px) rotateX(-90deg);-ms-transform:translateZ(400px) translateY(300px) rotateX(-90deg);transform:translateZ(400px) translateY(300px) rotateX(-90deg);-webkit-animation:fallPerspective .8s ease-in-out forwards;-moz-animation:fallPerspective .8s ease-in-out forwards;-o-animation:fallPerspective .8s ease-in-out forwards;-ms-animation:fallPerspective .8s ease-in-out forwards;animation:fallPerspective .8s ease-in-out forwards}
#content .wrapper h1 .icon,#content .wrapper h2 .icon{font-size:20px;display:none}
#content .wrapper .photo{margin-bottom:20px;}
#content .wrapper .photo img{max-width:100%;height:auto}
#content .wrapper .content{margin:20px 0;}
#content .wrapper .content p,#content .wrapper .content blockquote,#content .wrapper .content li{text-align:justify}
#content .wrapper .content code{font-size:12px}
#content .wrapper .meta{margin-top:15px;}
#content .wrapper .meta.icon:before{margin-right:6px}
#content .wrapper.text blockquote{margin-left:20px;padding-left:15px;border-left:3px solid #898989;}
#content .wrapper.text blockquote p{margin:0}
#content .wrapper.text pre{margin:0 -70px;padding:10px 70px}
#content .wrapper.quote .title{display:none}
#content .wrapper.quote blockquote{margin:0;font-weight:normal;font-size:28px;letter-spacing:-1px;}
#content .wrapper.quote blockquote p{margin:0;line-height:34px}
#content .wrapper.link h1 .icon,#content .wrapper.link h2 .icon{display:inline-block}
#content .wrapper.list .article:not(:last-child){margin-bottom:30px}
#content .wrapper.list .article h2,#content .wrapper.list .article time{display:inline-block;line-height:20px}
#content .wrapper.list .article h2{font-size:17px;margin:0}
#content .wrapper.list .article time{vertical-align:top;width:70px;text-transform:uppercase}
#content .wrapper.list .article ul.tags{margin:4px 0 0 74px}
#content .wrapper.list .tag.group{display:none}
#content .wrapper ul.tags{list-style-type:none;padding:0;}
#content .wrapper ul.tags li{display:inline-block;}
#content .wrapper ul.tags li:not(:last-child){margin-right:4px;}
#content .wrapper ul.tags li:not(:last-child):after{content:",";display:inline-block}
#footer{color:#999;padding:0 40px;text-align:center;}
#footer ul li{margin:0 10px;}
#footer ul li a{font-weight:bold}
#footer .small{font-size:11px}
@-moz-keyframes fallPerspective{100%{-webkit-transform:translateZ(0) translateY(0) rotateX(0);-moz-transform:translateZ(0) translateY(0) rotateX(0);-o-transform:translateZ(0) translateY(0) rotateX(0);-ms-transform:translateZ(0) translateY(0) rotateX(0);transform:translateZ(0) translateY(0) rotateX(0);opacity:1;-ms-filter:none;filter:none}
}@-webkit-keyframes fallPerspective{100%{-webkit-transform:translateZ(0) translateY(0) rotateX(0);-moz-transform:translateZ(0) translateY(0) rotateX(0);-o-transform:translateZ(0) translateY(0) rotateX(0);-ms-transform:translateZ(0) translateY(0) rotateX(0);transform:translateZ(0) translateY(0) rotateX(0);opacity:1;-ms-filter:none;filter:none}
}@-o-keyframes fallPerspective{100%{-webkit-transform:translateZ(0) translateY(0) rotateX(0);-moz-transform:translateZ(0) translateY(0) rotateX(0);-o-transform:translateZ(0) translateY(0) rotateX(0);-ms-transform:translateZ(0) translateY(0) rotateX(0);transform:translateZ(0) translateY(0) rotateX(0);opacity:1;-ms-filter:none;filter:none}
}@-ms-keyframes fallPerspective{100%{-webkit-transform:translateZ(0) translateY(0) rotateX(0);-moz-transform:translateZ(0) translateY(0) rotateX(0);-o-transform:translateZ(0) translateY(0) rotateX(0);-ms-transform:translateZ(0) translateY(0) rotateX(0);transform:translateZ(0) translateY(0) rotateX(0);opacity:1;-ms-filter:none;filter:none}
}@keyframes fallPerspective{100%{-webkit-transform:translateZ(0) translateY(0) rotateX(0);-moz-transform:translateZ(0) translateY(0) rotateX(0);-o-transform:translateZ(0) translateY(0) rotateX(0);-ms-transform:translateZ(0) translateY(0) rotateX(0);transform:translateZ(0) translateY(0) rotateX(0);opacity:1;-ms-filter:none;filter:none}
}