.icon:before{font-family:"Icons";font-style:normal;font-weight:normal;speak:none;display:inline-block;text-decoration:inherit;width:1em;text-align:center;font-variant:normal;text-transform:none;line-height:1em}
.icon.globe:before{content:'\e803'}
.icon.location:before{content:'\e800'}
.icon.clock:before{content:'\e802'}
.icon.search:before{content:'\e804'}
.icon.pinboard:before{content:'\e801'}

body{font-family:'PT Sans',sans-serif;background:#e3e5e7;padding:20px;color:#444}
#box{-webkit-box-shadow:0 0 5px 0 rgba(0,0,0,0.25);box-shadow:0 0 5px 0 rgba(0,0,0,0.25);background:#fff}
#sidebar{background:#2b2e2e;}
#sidebar #title,#sidebar #status{color:#fff}
#sidebar #title{padding:20px;background:#25ce98;font-size:22px}
#sidebar #status{padding:10px 20px;background:#24ab80;}
#sidebar #status .icon{width:20px;height:20px;-webkit-border-radius:50%;border-radius:50%;background:#1f775b;display:inline-block;margin-right:10px;}
#sidebar #status .icon:before{color:#fff;font-size:12px;margin-left:4px}
#sidebar #trail{padding:0 20px;color:#8c989c;}
#sidebar #trail ul{list-style-type:none;margin:0;margin-left:9px;border-left:2px solid #4e5054;padding:20px 0;}
#sidebar #trail ul li{padding:10px 0 10px 23px;position:relative;}
#sidebar #trail ul li:after{content:"";display:block;position:absolute;top:18px;left:-6px;-webkit-border-radius:50%;border-radius:50%;width:10px;height:10px;background:#4e5054}
#sidebar #trail ul li.active:before{background:#24ab80;content:"";display:block;position:absolute;top:18px;left:-6px;-webkit-border-radius:50%;border-radius:50%;background:#24ab80;width:10px;height:10px}
#sidebar #trail ul li.active:after{width:20px;height:20px;background:rgba(36,171,128,0.5);top:13px;left:-11px}
#sidebar #trail ul li.active a,#sidebar #trail ul li.active .date{color:#fff}
#sidebar #trail ul li a{color:#8c989c}
#sidebar #trail ul li .date{font-size:12px}
#main{padding:20px;}
#main header h1{color:#25ce98;font-size:24px;margin:20px 0 14px 0}
#main header #meta .icon:not(:last-child){margin-bottom:6px}
#main header #meta .icon:before{color:#a5a9b2;margin-right:6px}
#main header #day{border-left:1px solid #ebecef;line-height:40px;text-align:right}
