@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v6/LKf8nhXsWg5ybwEGXk8UBQ.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v6/0XxGQsSc1g4rdRdjJKZrNBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
    font-family: 'Icons';
    src: url('../fonts/icons.eot?16565305');
    src: url('../fonts/icons.eot?16565305#iefix') format('embedded-opentype'),
       url('../fonts/icons.woff?16565305') format('woff'),
       url('../fonts/icons.ttf?16565305') format('truetype'),
       url('../fonts/icons.svg?16565305#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}